body {
  margin: 5px;
  width: 250px;
  font-size: 12px; 
}

.status {
  line-height: 22px;
  font-weight: bold;
}

label p {
  margin: 2px 0 0 0;
}

#btn_stop {
  margin-right: 15px;
}

#weaponsList {
  width: 120px;
}

#autoHealValue {
  width: 30px;
}